* {
	background-color: LightGray;
}


html {
  box-sizing: border-box;
 }

*, *:before, *:after {
  box-sizing: inherit;
}

/* div {
	border: 1px solid Chocolate;
}

/* Navigation Section */
.top-navigation {
	background-color: #fff;
	height: 4.375em;
}

.content {
	width: 60%;
	height: 4.375em;
	margin: 0 auto;
	padding: 0px 15px;
}

.logo {
	height: 4.375em;
}

.links {
	float: right;
	font-family: 'Roboto', sans-serif;
	color: #838994;
	margin-top: 1.4em;
	font-size: 1.04em;
	-webkit-font-smoothing: antialiased;
	letter-spacing: 0.03em;
	transition: color 0.5s ease;
}


.links li {
	display: inline-block;
	margin-left: 1.5em;
}

.links > .active {
	color: #4c5058;
	font-weight: 500;
}

.links li:hover {
	color: black;
	cursor: pointer;
}

.introduction {
	background-image: url(../images/first-background.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border: 1px solid Chocolate;
	height: 45.938rem;
	
}