* {
	background-color: LightGray;
	box-sizing: border-box;
}

div {
	border: 1px solid Chocolate;
}

/* Navigation Section */
.top-navigation {
	background-color: #fff;
	height: 4.375em;
	width: auto;
}

.top-navigation > .content {
	width: 60%;
	height: 4.375em;
	margin: 0 auto;
	padding: 0px 15px;
}

.logo {
	border: 1px solid black;
	height: 4.375em;
}

.links {
	float: right;
	font-size: 1.04em;
	margin-top: 1.4em;
	border: 1px solid black;
}


.links li {
	display: inline-block;
	margin-left: 1.5em;
	border: 1px solid green;
}